
body{
    margin: 0px;
    padding: 0px;
}



/* cards */
/* card list */
.card-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    gap: 4%;
    width: 70%;
    margin: 11%;
    background-color: #f5f7f9;
    padding: 70px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  }
  
  .card:not(:last-child) {
    margin-bottom: 16px;
  }
  
  .card-info {
    display: flex;
    margin-top: 20px;
    gap: 20px;
  }
  
  @media (min-width: 576px) {

    .card {
      flex-basis: 38%;
    }
  }
  
  @media (min-width: 768px) {
    .card {
      flex-basis: 100%;
    }
  }
  
  /* individual card  */
  .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    background-color: rgb(246, 246, 246);
    font-size: 20px;
    padding: 15px;
  
    /* border: 1px solid #e1e1e1; */
    border-radius: 4px;
  
    display: flex;
    flex-direction: column;
    gap: 4%;
  }
  
  .card-item:not(:last-child) {
    margin-bottom: 8px;
  }
  
  .card-image {
    margin-bottom: 8px;
    height: 120px;
  }
  
  .card-image img {
    min-height: 80%;
    min-width: 200px;
    object-fit: cover;
  }
  
  .card-link {
    font-family: "verdana", "sans-serif";
    font-size: 15px;
    color: #1c1c1c;
  }
  
  @media (min-width: 768px) {
    .card {
      flex-direction: row;
    }
  
    .card-image {
      flex-basis: 33%;
      margin: 0;
      height: auto;
      max-height: 120px;
    }
  
    .card-image img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  
  .card-title {
    margin: 0;
    color: #1c1c1c;
    font-size: 18px;
  }
  
  /* .card-image {
    background-color: dodgerblue;
  } */
  
  .card-desc {
    font-size: 15px;
    color: #696969;
    line-height: 1.5;
  }
  
  .card-price {
    margin: 0;
    color: #1c1c1c;
    font-size: 18px;
  }


 /* container */

  #box1{
    /* background-image: url("image3.jpeg"); */
    background-repeat: repeat;
    background-size:cover;
    padding-bottom: 25px;
    height: 350px;
  }

/* navbar */

  #nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-top:20px ;
  }
  
 #logo {
    margin-left:5% ;
    display: flex;
    width: 20%;
    align-items: center;
    gap: 8px;
    font-family: 'poppins Medium';
 }

  #logo img {
    width: auto;
    height: 30px;
    background-size: contain;
  }

  #links{
    margin-left: 2%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    
  }

  #links a{
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #contact-us{
    margin-left: 5% ;
    margin-right: 5%;
  }
  #contact-us a{
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  } 

  #text-wrapper{
    width: 50%;
    margin-left: 200px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 190px;
     
  }

  #text-wrapper h1 {
    font-size: 50px;
    font-family: ui-sans-serif;
    color: rgb(255 255 255);
    /* margin-left: 100px; */
    /* margin: auto; */

  }
  #text-wrapper button {
    height: 25px;
    border: none;
    cursor: pointer;
    background-color: #c14e23;
    width: 100px;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -150px;
    color: white;
    border-radius: 10px;
    /* margin: auto; */
  }

  /* #tour-list-wrapper{
    
  } */
